@model IEnumerable<StaffParam>
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid m-0 mt-5 mb-5">
    <div class="row">
        <div class="col-6">
           <h3>
               Staff Record
           </h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="StaffParam">Add New Staff</a>
        </div>
    </div>
</div>
<table class="table table-bordered" style="width:100%">
    <thead>
        <tr class="col-3">
            <th>
                First Name
            </th>
            <th class="col-3">
                Last Name
            </th>
            <th class="col-3">
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td class="col-3">
                    @obj.FirstName
                </td>
                <td>
                    @obj.LastName
                </td>
                <td class="col-3">
                    @obj.DateCreated
                </td>
                <td class="col-3">
                    <div class="d-flex justify-content-around">
                        <a asp-route-id="@obj.Id" asp-action="Edit" class="btn btn-primary" style="width:120px">Edit</a>
                        <a asp-controller="StaffParam" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger" style="width:120px">Delete</a>

                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

